<ion-view title="Haz Dinero" id="page7" style="background-color:#5CB8F6;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <form id="hazDinero-form2" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label class="item item-select form-entry" id="hazDinero-select3" name="material">
        <span class="input-label">Material</span>
        <select>
          <option>seleccione</option>
          <option>Alumino</option>
          <option>Acero</option>
          <option>Carton</option>
          <option>Plástico</option>
        </select>
      </label>
      <label class="item item-input form-entry" id="hazDinero-input1">
        <span class="input-label">Peso</span>
        <input type="number" placeholder="Ingresa el peso en kg">
      </label>
      <button id="hazDinero-button14" style="color:#FFFFFF;" class="button button-light button-block button-outline">Registrar</button>
    </form>
    <div>
      <img src="img/CXaTgxbUSFGWhEJBkRm6_eq76xLTnT1qvjYULlY8s_TABLE.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hazDinero-button-bar2" class="button-bar">
      <button id="hazDinero-button11" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-small button-block icon-left ion-edit">edita</button>
      <button id="hazDinero-button12" style="font-size:10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-small button-block icon-left ion-android-add-circle">Guarda</button>
      <button id="hazDinero-button13" style="font-size:10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-small button-block icon-left ion-android-checkmark-circle">Ok</button>
    </div>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <div id="hazDinero-button-bar1" class="button-bar">
      <a ui-sref="tabsController.caja()" id="hazDinero-button5" style="font-weight:500;color:#FFFFFF;font-size:14px;border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-box-outline">Caja</a>
      <a ui-sref="tabsController.recolecciN()" id="hazDinero-button6" style="color:#FFFFFF;font-size:14px;border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-android-compass">Recolección</a>
    </div>
  </ion-content>
</ion-view>